<h3>
    {{title}}
</h3>
<h6>Client Reference: </h6>
<div *ngIf="_datadump.clientReference !== null">
    {{_datadump.clientReference}}
</div>
<div *ngIf="!_datadump.clientLoaded">
    <input type="number" class="u-full-width" [(ngModel)]="_clientId">
    <input type="button" value="Load Client" #clientRef (click)="loadClient(_clientId)" class="button-primary">
</div>
<div *ngIf="!_datadump.clientLoaded">
    Or Start a new client:<br>
    <input type=button value="Start new client" (click)="scaffoldNewClient('2000004')">
</div>

