<table class="card">
    <tr>
        <th colspan="2">
            <h3>Who are you?</h3>
        </th>
    </tr>
    <tr>
        <td>
            <label>First Name: </label>
        </td>
        <td>
            <input type="text" [(ngModel)]="_clientDetails.firstName">
        </td>
    </tr>
        <tr>
        <td>
            <label>Middle Name(s): </label>
        </td>
        <td>
            <input type="text" [(ngModel)]="_clientDetails.middleNames">
        </td>
    </tr>
        <tr>
        <td>
            <label>Surname: </label>
        </td>
        <td>
            <input type="text" [(ngModel)]="_clientDetails.surname">
        </td>          
    </tr>
    <tr>
        <td>
            <label>Date of birth: </label>
        </td>
        <td>
            <input type="date" #tt (change)="tesFunc(44)" [value]="createDateForInput(_clientDetails.dateOfBirth)">
        </td>  
    </tr>  
</table>
<table class="card">  
    <tr>
        <th colspan="2">
            <h3>Phone Numbers?</h3>
        </th>
    </tr>    
    <tr>
        <td>
            <label>
                Home Phone: 
            </label>
        </td>
        <td>
            <input type="tel" [(ngModel)]="_clientDetails.homePhone">
        </td>        
    </tr>
    <tr>
        <td>
            <label>
                Work Phone:
            </label>            
        </td>
        <td>
            <input type="tel" [(ngModel)]="_clientDetails.workPhone">
        </td>
    </tr>
    <tr>
        <td>
            <label> Mobile Phone: </label>
        </td>
        <td>
            <input type="tel" [(ngModel)]="_clientDetails.mobilePhone">
        </td>
    </tr>
</table>
<table class="card">
    <tr>
        <th colspan="2">
            <h3>Address Details: </h3>
        </th>
    </tr>
    <tr>
        <td>
            <label>Address Line 1: </label>
        </td>
        <td>
            <input type="text" [(ngModel)]="_clientDetails.addressLine1">
        </td>
    </tr>
    <tr>
        <td>
            <label>Address Line 2: </label>
        </td>
        <td>
            <input type="text" [(ngModel)]="_clientDetails.addressLine2">
        </td>
    </tr>
    <tr>
        <td>
            <label>Town / City: </label>
        </td>
        <td>
            <input type="text" [(ngModel)]="_clientDetails.townCity">
        </td>  
    </tr>
    <tr>
        <td>
            <label>Country: </label>
        </td>
        <td>
            <input type="text" [(ngModel)]="_clientDetails.country">
        </td>
    </tr>
    <tr>        
        <td>
            <label>Postcode: </label>
        </td>
        <td>
            <input type="text" [(ngModel)]="_clientDetails.postCode">
        </td>
    </tr>
</table>
