expenditureForm{
    width: 75%;
    float: right;
    display: inline-table;
}
menuBar{
    display: inline-table;
    width: 100%;
}
router-outlet{
    width: 75%;
    left: 12.5%;
}
message-screen{
    z-index: 10;
    width: 40%;
    height: 40%;
    background-color: blue;
}
