.budgetItem{
    width: 45%;
    display: inline-table;
    padding: 2px;
}
.budgetItem * {
    padding: 3px;
}
.incomeTable{
    width: 50%;
    padding: 1%;
    border: 1px solid darkgray;
}
.spacerRow{
    height: 5px;
}
.card{
    border: 1px solid grey;
    border-radius: 5px/5px;
    box-shadow: 5px 2.5px 2.5px grey;
    padding: 5px;
}