<div class="debtFormHolder">
  <div class="debtForm">
    <h1> {{formTitle}} </h1>
    <table class="debtTable">
    <tr>
      <th>Name of your Creditor</th>
      <th>How much is the debt for?</th>
      <th>What kind of debt is this?</th>
      <th>Get rid?</th>
    </tr>
    <tr *ngFor="let _debt of _clientDebtList">
      <td>
        <input type="text" [(ngModel)]="_debt.creditorName" value="_debt.creditorName" placeholder="Name of your Creditor">
      </td>
      <td>
        £<input type="number" [(ngModel)]="_debt.totalAmountOwed">
      </td>
      <td>
        <select>
          <option *ngFor="let debtType of debtTypes">{{debtType}}</option>
        </select>
      </td>
      <td>
        <input type=button value="Remove from list" (click)="deleteFromList(_clientDebtList.indexOf(_debt))">
      </td>
    </tr>
    </table>
    <h1 class="addNewLabel">Add a new debt</h1>
    <table class="addNewDebt">
      <tr>
        <th>Name of your Creditor</th>
        <th>How much is the debt for?</th>
        <th>What kind of debt is this?</th>
      </tr>
      <tr>
        <td>
          <input (change)="outputFunc()" type="text" [(ngModel)]="newDebt.creditorName">
        </td>
        <td>      
         £<input type="number" [(ngModel)]="newDebt.amountOwed">
        </td>      
        <td>
          <select>
                <option *ngFor="let debtType of debtTypes">{{debtType}}</option>
          </select>
        </td>
    </table>
    <input type="button" (click)="addNewDebtItemToList()" value="Add this to the list">
    
    
    

