<div class="debtFormHolder">
  <div class="debtForm">
    <h3> {{formTitle}} </h3>
    <table class="debtTable">
    <tr>
      <th>Name of your Creditor</th>
      <th>How much is the debt for?</th>
      <th>What kind of debt is this?</th>
      <th>Get rid?</th>
    </tr>
    <tr *ngFor="let _debt of _clientDebtList">
      <td>
        <input type="text" [(ngModel)]="_debt.creditorName" value="_debt.creditorName" placeholder="Name of your Creditor">
      </td>
      <td>
        £<input type="number" [(ngModel)]="_debt.totalAmountOwed">
      </td>
      <td>
        <select>
          <option *ngFor="let debtType of debtTypes" [selected]="debtType === _debt.type">{{debtType}}</option>
        </select>
      </td>
      <td>
        <input type=button value="Remove from list" class="button-primary" (click)="deleteFromList(_clientDebtList.indexOf(_debt))">
      </td>
    </tr>
    </table>
    <h3 class="addNewLabel">Add a new debt</h3>
    <table class="addNewDebt">
      <tr>
        <th>Name of your Creditor</th>
        <th>How much is the debt for?</th>
        <th>What kind of debt is this?</th>
        <th></th>
      </tr>
      <tr>
        <td>
          <input (change)="outputFunc()" type="text" [(ngModel)]="newDebt.creditorName">
        </td>
        <td>      
         <input type="number" [(ngModel)]="newDebt.totalAmountOwed">
        </td>      
        <td>
          <select [(ngModel)]="newDebt.type">
                <option *ngFor="let debtType of debtTypes">{{debtType}}</option>
          </select>
        </td>
        <td>
          <input type="button" class="button-primary" (click)="addNewDebtItemToList()" value="Add">
        </td>
    </table>

    
    
    

