<div class="clientRefOverlay" *ngIf="!_datadump['userLoaded']">
    <div class="crom">
        <br><br>
        <h6>Whats your user number?</h6>
        <input type="number" class="u-full-width" [(ngModel)]="_userId">
        <input type="button" value="Load CCD" #clientRef (click)="getUserDetails()" class="button-primary">
    </div>
</div>
<div class="wrapper">
    <div *ngFor="let i of linksMenu">
        <a class="button menu" *ngIf="_datadump['clientLoaded'] || i.name == 'Home'" [routerLink]="i.path">{{i.name}}</a>
    </div> 
</div>
<input type="button" *ngIf="_datadump['clientLoaded']" [routerLink]="home" (click)="_resetApp()" value="Reset Application">
<div class="outputconsole">
      {{outputFunc() | json}}
</div>