.wrapper{
    height: 100%;
    width: 100%;
    background-color:black;
    border: 1px solid white;  
    color: white;  
}
.button{
    display: inline;
    float:left;
    background-color: black;
}
.menu{
    background-color: black !important;
    color: lightgrey !important;
}
.outputconsole{
    position: fixed;
    width: 500px;
    margin-top:0px;
    right:0px;
    float:right;
    
}
.workItem{
    border: 2px solid darkgrey;
    border-radius: 5px / 5px;

}
.u-full-width{
    width: 50%;
}
.budgetItem{
    width: 45%;
    display: inline-table;
    padding: 2px;
}
.clientRefOverlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    background-color: grey;
    opacity: 0.75;
}
.crom{
    width: 100%;
    background-color: grey;
    opacity: 1;
}